@font-face {
    font-family: 'ultraregular';
    src: url('../fonts/Ultra-webfont.eot');
    src: url('../fonts/Ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ultra-webfont.woff') format('woff'),
         url('../fonts/Ultra-webfont.ttf') format('truetype'),
         url('../fonts/Ultra-webfont.svg#ultraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bree_serifregular';
    src: url('../fonts/breeserif-regular-webfont.eot');
    src: url('../fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breeserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/breeserif-regular-webfont.woff') format('woff'),
         url('../fonts/breeserif-regular-webfont.ttf') format('truetype'),
         url('../fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ipy1t6');
	src:url('../fonts/icomoon.eot?#iefixipy1t6') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ipy1t6') format('woff'),
		url('../fonts/icomoon.ttf?ipy1t6') format('truetype'),
		url('../fonts/icomoon.svg?ipy1t6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 2em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\3c0";
}
.icon-mail:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-github:before {
	content: "\e604";
}


html {
	margin: 0 auto;
}

body {
	font-weight: 400;
	color: #444444;
	font-family: 'bree_serifregular', serif;
	height: 100%
}

body dl dt{
	margin: 0;
	padding: 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
	color: #CC4400;
}

a img {
    border: none;
}

a:hover {
	color: #DE521D;
}

ul {
	overflow: hidden;
}

li {
	list-style-type: none;
}

h1 {
	font-family: 'ultraregular', serif;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 2.5em;
	vertical-align: middle;
	display: inline;
}

h3 {
	margin-top: 10px;
}

p {
	font-size: 1em;
	font-family: 'Avant Garde', sans-serif;
	margin-top: 15px;
	line-height: 1.4em;
}

#container {
	margin: 0 auto;
	position: absolute;
	min-height: 100%;
}

header {
	/*background-image: url(../images/eklogo2.png);*/
	background-repeat: no-repeat;
	margin: 2% auto;
	position: relative;
	width: 80%;
	padding-top: 2%;
	overflow: hidden;
}

.topHeader {
    width: 55%;
    height: auto;
    min-height: 100px;
    text-align: left;
    display: inline-block;
    min-width: 430px;
    margin-left: .5em;
}

/* navigation style */


nav li, .nav2 li {
	margin: 5px;
	float: left;
	font-family: 'Avant Garde', sans-serif;

}

nav a {
	color: #444444;
}

.nav2 {
	clear: both;
	overflow: hidden;
	text-align:center;
	color: #444444;
	padding-top: .5em;
}

.nav2 ul {
	margin: 1% auto;
	display: inline-block;
	text-align: center;
}

.nav2 a {
	color: #444444;
}

.nav2 a:hover {
	color: #CC4400;
}

.arrows {
	clear: both;
	overflow: hidden;
	margin: 0 auto;
	padding: 4em;
	width: 33%;
	text-align: center;
}

.arrows a {
	color: white;
	padding: .3em;
}

.arrows a:hover {
	color: #CC4400;
}

#main .arrows {
	padding: .5em;
}

#main .arrows a {
	color: #999999;
}

#main .arrows a:hover {
	color: #CC4400;
}

.follow {
	/*display: none;*/
	float: right;
}

.followClick {
	font-family: 'Avant Garde', sans-serif;
	color:  #444444;
}

.followClick:hover {
	color: #CC4400;
}

.follow a {
	font-size: .8em;
	color:black;
	display: inline;
}

.follow a:hover {
	border: none;
}
/*main area style*/

dl {
	display: inline;
	float: left;
	margin-right: 50px;
	margin-bottom: 65px;
}

.creds dd:nth-last-child(2) {
	margin-bottom: 1em;
}

dt {
	font-family: 'ultraregular', serif;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 2.5em;
	color: #999999;
	opacity:0.7;
}

dd {
		line-height: 1.3em;
}

dd.asterisk {
	font-size: .6em;
}

section {
	width: 100%;
	margin: 0 auto;
}

article {
	margin: 0 auto;
	width: 80%;
}

/*About me section style*/

#about {
	margin: 3% auto 0;
	background: #999999 url(../images/meround.png) center 13% no-repeat ;
	clear: both;
	padding: 4em 1em 1em;
}

#about p {
	font-family: 'bree_serifregular', serif;
	text-align: center;
	font-size: 1.5em;
	color: white;
}

#bio {
	margin: 0 auto;
	padding-top: 280px;
	width: 60%;
}

/*portfolio section style*/

div #portfolioBG {
    margin: 0 auto;
    width: 80%;
    padding-top: 4em;
    padding-bottom: 2em;
    text-align: left;
}

#portfolio {
	/*margin: 0 auto;*/
	clear: both;
	/*padding: 4em 1em 2em;*/
	background-color: #f79618;
	text-align: center;
	/*width: 70%;*/
}

.item {
	margin: 1.5em;
	display: inline-block;
	position: relative;
}

.item img {
	border: 4px solid white;
	width: 350px;
}

.overlayInfo {
    width: 358px;
    height: 249px;
    padding: 9%;
    text-align: center;
    display: none; 
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    border:2px solid black;
    box-sizing: border-box;
    font-weight: bold;
}

.overlayInfo h3 {
	font-family: 'Avant Garde', sans-serif;
}

.overlayInfo a {
	margin-top: 2em;
	padding: 0 .5em;
	font-size: 1.5em;
	display:inline-block;
	color: #CC4400;
}

.overlayInfo a:hover {
	border: none;
	color: #999999;
}

/*.slideOutInfo {
	display: none;
	width: 90%;
	padding: 3%;
	border: black 1px solid;
	overflow: hidden;
	margin: 0 auto;
}

.slideOutInfo img {
	width: 60%;
	float: left;
}

.slideOutInfo p {
	float: right;
	display: inline;
	width: 35%;
}*/

footer {
	height: 45px;
	/*font-size: .85em;*/
	color: #DDDDDD;
	font-family: 'Avant Garde', sans-serif;
	background-color: #999999;
	padding: 18px;
	clear: both;
}

#background { 
	float: right;
	width: 80%;
	opacity: 0.5;
}

@media(min-width: 480px) and (max-width: 970px) {

	article dl {
		text-align: center;
		float: none;
	}

	img {
		width: 250px;
	}

	#topHeader {
		max-width: 600px;
	}
}




